header{
  width: 100%;
  height: 425px;
  background-color: #5e99c5;
  color: white;
   font-family: "Maven Pro", sans-serif;
  nav{
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 25px 0 25px 25px;
    color: #969696;
    img{
      position: absolute;
      top: 10px;
      left: 15px;
      width: 50px;
      height: 50px;
      // float: left;
      // margin: 0;
    }
    ul{
      padding: 25px;
    }
    li{
      display: inline;
      padding-right: 25px;
    }
    a{
      width: 75px;
      height: 75px;
      text-decoration: none;
      color: #969696;
    }
    a:hover{
      background-color: #f2ac41;
      color: #ffffff;
      padding: 15px;
    }
  }
  div{
    padding-top: 50px;
    text-align: center;
    h1{
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bolder;
      margin: 0;
    }
    p{
      margin: 0;
      font-weight: normal;
    }
    input{
      margin-top: 25px;
      padding: 15px 15px 15px 35px;
      border: none;
      width: 250px;
    }
    button{
      width: 200px;
      text-transform: uppercase;
      background-color: #f2ac41;
      padding: 15px;
      border: none;
    }
    img{
      position: absolute;
      top: 175px;
      left: 425px;
    }
  }
}
